In [2]:
# the english list has some weird lemma-*s, so I'll remove them
import pandas as pd

In [5]:
with open("lemmatizationTagged/en_lemPOS.csv") as f:
    df = pd.read_csv(f, index_col=0)

In [6]:
df.head()

        lemma original_form       tag
0       first         first   MP-SON5
1       tenth         tenth   MD-SON-
2   hundredth     hundredth   NC-S-N-
3  thousandth    thousandth   MP-SON-
4  thousandth    thousandth  GN-S3---

In [7]:
ndf = df[df.lemma != "*"]

In [8]:
len(df), len(ndf)

(42204, 39896)

In [27]:
len(df) - len(ndf)

2308

In [9]:
sdf = df[df.lemma == "*"]

In [28]:
print(len(sdf))
sdf.head()

2308

    lemma original_form           tag
119     *    abandoning  ZN-S3-PP----
137     *   abbreviated  ZA----PA----
144     *     abdicated  ZA----PA----
152     *     abducting  ZN-S3-PP----
162     *     abhorring  ZN-S3-PP----

In [17]:
#df.head(500)

In [13]:
sdf.to_csv("stars.csv")

In [14]:
ndf.to_csv("eng.csv")

In [20]:
lm = pd.merge(ndf, sdf, on="original_form", how="left")
print(len(lm))
lm.head()

39912

      lemma_x original_form     tag_x lemma_y tag_y
0       first         first   MP-SON5     NaN   NaN
1       tenth         tenth   MD-SON-     NaN   NaN
2   hundredth     hundredth   NC-S-N-     NaN   NaN
3  thousandth    thousandth   MP-SON-     NaN   NaN
4  thousandth    thousandth  GN-S3---     NaN   NaN

In [18]:
rm = pd.merge(ndf, sdf, on="original_form", how="right")
print(len(rm))
rm.head()

2332

      lemma_x original_form          tag_x lemma_y         tag_y
0     abandon    abandoning  VP---PSA-N-N5       *  ZN-S3-PP----
1  abbreviate   abbreviated  VP---ASA-N-N-       *  ZA----PA----
2    abdicate     abdicated  VP---ASA-N-N-       *  ZA----PA----
3      abduct     abducting  VP---PSA-N-N-       *  ZN-S3-PP----
4       abhor     abhorring  VP---PSA-N-N-       *  ZN-S3-PP----

In [22]:
im = pd.merge(ndf, sdf, on="original_form", how="inner")
print(len(im))
im.head()

2331

      lemma_x original_form          tag_x lemma_y         tag_y
0     abandon    abandoning  VP---PSA-N-N5       *  ZN-S3-PP----
1  abbreviate   abbreviated  VP---ASA-N-N-       *  ZA----PA----
2    abdicate     abdicated  VP---ASA-N-N-       *  ZA----PA----
3      abduct     abducting  VP---PSA-N-N-       *  ZN-S3-PP----
4       abhor     abhorring  VP---PSA-N-N-       *  ZN-S3-PP----

In [23]:
im = pd.merge(ndf, sdf, on="original_form", how="outer")
print(len(im))
im.head()

39913

      lemma_x original_form     tag_x lemma_y tag_y
0       first         first   MP-SON5     NaN   NaN
1       first         first  GN-S3S--     NaN   NaN
2       tenth         tenth   MD-SON-     NaN   NaN
3   hundredth     hundredth   NC-S-N-     NaN   NaN
4  thousandth    thousandth   MP-SON-     NaN   NaN

In [29]:
im[im.lemma_y != "*"]

             lemma_x   original_form          tag_x lemma_y tag_y
0              first           first        MP-SON5     NaN   NaN
1              first           first       GN-S3S--     NaN   NaN
2              tenth           tenth        MD-SON-     NaN   NaN
3          hundredth       hundredth        NC-S-N-     NaN   NaN
4         thousandth      thousandth        MP-SON-     NaN   NaN
5         thousandth      thousandth       GN-S3---     NaN   NaN
6          millionth       millionth          AP-N-     NaN   NaN
7          billionth       billionth          AP-N-     NaN   NaN
8           eleventh        eleventh        MD-SON-     NaN   NaN
9            twelfth         twelfth        MP-SON-     NaN   NaN
10        thirteenth      thirteenth        MD-SON-     NaN   NaN
11        fourteenth      fourteenth        MP-SON-     NaN   NaN
12         fifteenth       fifteenth        MD-SON-     NaN   NaN
13         sixteenth       sixteenth        MP-SON-     NaN   NaN
14       seventeenth     seventeenth        MD-SON-     NaN   NaN
15        eighteenth      eighteenth          AP-N-     NaN   NaN
16        nineteenth      nineteenth        MD-SON-     NaN   NaN
17            second          second        NC-S-N5     NaN   NaN
18         twentieth       twentieth        MD-SON-     NaN   NaN
19         hundredth   two-hundredth          AP-N-     NaN   NaN
20             first    twenty-first        MD-SON5     NaN   NaN
21     twenty-second   twenty-second        NTUU-N-     NaN   NaN
22             third    twenty-third        MD-SON-     NaN   NaN
23            fourth   twenty-fourth        MP-SON-     NaN   NaN
24             fifth    twenty-fifth        MD-SON-     NaN   NaN
25             sixth    twenty-sixth        MP-SON-     NaN   NaN
26           seventh  twenty-seventh        MD-SON-     NaN   NaN
27            eighth   twenty-eighth        MP-SON-     NaN   NaN
28             ninth    twenty-ninth        MD-SON-     NaN   NaN
29             third           third        NC-S-N-     NaN   NaN
...              ...             ...            ...     ...   ...
39879           zero           zeros        NC-P-N-     NaN   NaN
39880           zero           zeros       GN-P3D--     NaN   NaN
39881         zigzag       zigzagged  VP---ASA-N-N-     NaN   NaN
39883         zigzag         zigzags  VI-S3PSA-N-N-     NaN   NaN
39884     Zimbabwean     Zimbabweans        NC-P-N-     NaN   NaN
39885           zinc           zincs        NC-P-N-     NaN   NaN
39886        Zionist        Zionists        NC-P-N-     NaN   NaN
39887        Zionist        Zionists       GN-P3---     NaN   NaN
39888            zip          zipped  VP---ASA-N-N-     NaN   NaN
39889            zip         zipping  VP---PSA-N-N-     NaN   NaN
39890            zip            zips        NC-P-N-     NaN   NaN
39891         zipper         zippers        NC-P-N-     NaN   NaN
39892         zircon         zircons        NC-P-N-     NaN   NaN
39893         zither         zithers        NC-P-N-     NaN   NaN
39894         zodiac         zodiacs        NC-P-N-     NaN   NaN
39895         zombie         zombies        NC-P-N-     NaN   NaN
39896           zone           zoned  VP---ASA-N-N4     NaN   NaN
39897           zone           zones        NC-P-N4     NaN   NaN
39898           zone           zones       GN-P3D--     NaN   NaN
39900            zoo            zoos        NC-P-N-     NaN   NaN
39901      zoologist      zoologists        NC-P-N-     NaN   NaN
39902        zoology       zoologies        NC-P-N-     NaN   NaN
39903           zoom          zoomed  VP---ASA-N-N-     NaN   NaN
39905           zoom           zooms  VI-S3PSA-N-N-     NaN   NaN
39906       zoonosis        zoonoses        NC-P-N-     NaN   NaN
39907       zoonosis        zoonoses        NC-P-N-     NaN   NaN
39908    zooplankton    zooplanktons        NC-P-N-     NaN   NaN
39909       zucchini       zucchinis        NC-P-N-     NaN   NaN
39910           Zulu           Zulus        NC-P-N-     NaN   NaN
39911         zygote         zygotes        NC-P-N-     NaN   NaN

[37581 rows x 5 columns]

In [30]:
rm[rm.lemma_y != "*"]

Empty DataFrame
Columns: [lemma_x, original_form, tag_x, lemma_y, tag_y]
Index: []